.grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 50px;
    padding-left: 5%;
}   
    #newsletter {
        width: 220px;
    }
        #texto {
            font-family: quicksand;
            font-weight: bold;
        }
            #formulario {
                position: relative;
                top: 50px;
                left: 10px;
                margin: 5px;
            } 
                footer {
                    font-weight: bold;
                    font-size: 12px;
                    background-color: #f6f6f6;
                    position: relative;
                    left: 50%;
                    top: 100px;
                    padding-bottom: 1%;
                 }